<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OutputBuilderClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutputBuilderClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <OutputBuilderClient.Properties.Settings>
            <setting name="DatabaseOutputFolder" serializeAs="String">
                <value>I:\Database\Current</value>
            </setting>
            <setting name="DatabaseInputFolder" serializeAs="String">
                <value>I:\Database\Latest</value>
            </setting>
            <setting name="RootFolder" serializeAs="String">
                <value>I:\Photos\Sorted</value>
            </setting>
            <setting name="ImageMaximumDimensions" serializeAs="String">
                <value>400,600,800,1024,1600</value>
            </setting>
            <setting name="ThumbnailSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ImageMagickConvertExecutable" serializeAs="String">
                <value>D:\Utils\imageprocessing\convert.exe</value>
            </setting>
            <setting name="DCRAWExecutable" serializeAs="String">
                <value>D:\Utils\imageprocessing\dcraw.exe</value>
            </setting>
            <setting name="JpegOutputQuality" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="WatermarkImage" serializeAs="String">
                <value>D:\Utils\Gallery\watermark.png</value>
            </setting>
            <setting name="DatabaseBackupFolder" serializeAs="String">
                <value>I:\Database\Backup\Current</value>
            </setting>
            <setting name="BitlyApiKey" serializeAs="String">
                <value>R_43a3ce10699b39c57da408f60cb794ce</value>
            </setting>
            <setting name="BitlyApiUser" serializeAs="String">
                <value>credfeto</value>
            </setting>
            <setting name="ImagesOutputPath" serializeAs="String">
                <value>\\nas-01.yggdrasil.local\GalleryUpload</value>
            </setting>
        </OutputBuilderClient.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OutputBuilderClient.Properties.Settings>
      <setting name="LatestDatabaseBackupFolder" serializeAs="String">
        <value>I:\Database\Backup\Latest</value>
      </setting>
    </OutputBuilderClient.Properties.Settings>
  </userSettings>
</configuration>
