<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BuildSiteIndex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <BuildSiteIndex.Properties.Settings>
            <setting name="DatabaseInputFolder" serializeAs="String">
                <value>C:\PhotoDb\Source</value>
            </setting>
            <setting name="QueueFolder" serializeAs="String">
                <value>C:\PhotoDb\Queue</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>C:\PhotoDB\Output</value>
            </setting>
            <setting name="WebServerBaseAddress" serializeAs="String">
                <value>http://www.markridgwell.co.uk/</value>
            </setting>
            <setting name="DatabaseBackupFolder" serializeAs="String">
                <value>I:\Database\Backup\Current</value>
            </setting>
        </BuildSiteIndex.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
