<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuildSiteIndex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <BuildSiteIndex.Properties.Settings>
            <setting name="DatabaseInputFolder" serializeAs="String">
                <value>I:\Database\Current</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>E:\GalleryMetadata</value>
            </setting>
        </BuildSiteIndex.Properties.Settings>
    </applicationSettings>
</configuration>